<%= form_for([@section, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :section_id %><br>
    <%= f.select(:section_id, options_for_select([[@section.description_detailed, @section.id]]), {}, {:readOnly => true, :class => 'form-control'}) %>
  </div>
    <div class="form-group">
      <%= f.label :number %><br>
      <%= f.text_field :number, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :sequence %><br>
      <%= f.text_field :sequence, :class => 'form-control' %>
    </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :intro %><br>
    <%= f.bootsy_area :intro, :class => 'form-control', :rows => 15 %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>
