<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @section.lesson_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @section.description %>
</p>

<p>
  <strong>Audio:</strong>
  <%= @section.audio %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
