<p>
  <strong>Lesson:</strong>
  <%= @section.lesson_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @section.description %>
</p>

<p>
  <strong>Audio:</strong>
  <audio controls>
    <source src="<%= @section.audio %>" type="audio/mp4">
    <source src="<%= @section.second_audio %>" type="audio/ogg">
    <p>Your browser does not support HTML5 audio, but you can still
      <a href="<%= @section.audio %>">download the file</a>.</p>
  </audio>
</p>

<% if can? :edit, Section %>
    <%= link_to 'Edit', edit_section_path(@section) %> |
<% end %>
<%= link_to 'Back', sections_path %>
