<p>
  <strong>Lesson:</strong>
  <%= @section.lesson_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @section.description %>
</p>

<p>
  <strong>Audio:</strong>
  <audio controls>
    <source src="<%= @section.audio %>" type="audio/ogg">
    <source src="<%= @section.audio %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
