<%= form_for(@lesson) do |f| %>
    <% if @lesson.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
            <% @lesson.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :book_id %><br>
      <%= f.collection_select(:book_id, Book.all, :id, :description, {}, {:class => 'form-control'}) %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit :class => 'btn btn-default' %>
    </div>
<% end %>
