<div class="page-header">
  <h1>Listing Questions of <%= @section.description_detailed %></h1>
</div>
<div class="row" style="height: 35px">
  <div class="col-md-12" data-spy="affix" data-offset-top="150">
    <audio id="player" controls>
      <source src="<%= @section.audio %>" type="audio/mp4">
      <source src="<%= @section.second_audio %>" type="audio/ogg">
      <p>Your browser does not support HTML5 audio, but you can still
        <a href="<%= @section.audio %>">download the file</a>.</p>
    </audio>
  </div>
</div>


<% @questions.group_by(&:group).sort.each do |number, groups| %>
    <% groups.group_by(&:number).sort.each do |number, questions| %>
        <div class="row">
          <div class="col-md-12" >
            <%= raw questions.first.intro %>
          </div>
        </div>
        <h3><%= number %>:</h3>
        <ul id="<%=number%>" class="list-group question">
          <% questions.each do |question| %>
              <% userQuestion = UsersQuestion.find_by(user_id: current_user.id, question_id: question.id) %>
              <% if(!userQuestion.nil? && userQuestion.right?) %>
                  <% itemClass = 'correctAnswerAnimation' %>
              <% else %>
                  <% if(!userQuestion.nil? && !userQuestion.right?) %>
                      <% itemClass = 'wrongAnswerAnimation' %>
                  <% end %>
              <% end %>
              <li class="list-group-item description <%= itemClass %>">
                <%= form_tag('/dashboard/verify_answer', remote: true) do %>
                    <%= question.sequence.to_s + '.' if !question.sequence.nil? %>

                    <% if userQuestion.nil? %>
                        <%= raw printQuestion question %>
                    <% else %>
                        <% if userQuestion.right? %>
                            <%= raw printRightQuestion question %>
                        <% else %>
                            <%= raw printWrongQuestion userQuestion %>
                        <% end %>
                    <% end %>


                <% end %>
              </li>
          <% end %>
        </ul>
    <% end %>
<% end %>
<%= link_to 'Finish', close_section_path(@section), :class => 'btn btn-default', data: { confirm: 'Are you sure about this?' } %>
<p/>