<div class="page-header">
     <h1>Listing Questions of <%= @section.description_detailed %></h1>
</div>
<div class="row" style="height: 35px">
  <div class="col-md-12" data-spy="affix" data-offset-top="150">
    <audio controls>
      <source src="<%= @section.audio %>" type="audio/aac">
      <source src="<%= @section.audio %>" type="audio/ogg">
      <source src="<%= @section.audio %>" type="audio/mpeg">
      <source src="<%= @section.audio %>" type="audio/wav">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>


  <% @questions.group_by(&:number).sort.each do |number, questions| %>
    <%= raw questions.first.intro %>
    <h3><%= number %>:</h3>
    <ul id="<%=number%>" class="list-group question">
    <% questions.each do |question| %>
        <% userQuestion = UsersQuestion.find_by(user_id: current_user.id, question_id: question.id) %>
          <% if(!userQuestion.nil? && userQuestion.right?) %>
              <% itemClass = 'correctAnswerAnimation' %>
          <% else %>
              <% if(!userQuestion.nil? && !userQuestion.right?) %>
                <% itemClass = 'wrongAnswerAnimation' %>
              <% end %>
          <% end %>
        <li class="list-group-item description <%= itemClass %>">
          <%= form_tag('/dashboard/verify_answer', remote: true) do %>
            <%= question.sequence + '.' if !question.sequence.empty? %>

              <% if userQuestion.nil? %>
                  <%= raw printQuestion question %>
              <% else %>
                  <% if userQuestion.right? %>
                    <%= raw printRightQuestion question %>
                  <% else %>
                    <%= raw printWrongQuestion userQuestion %>
                  <% end %>
              <% end %>

            <input type="submit" hidden="true" />
          <% end %>
        </li>
    <% end %>
    </ul>
  <% end %>
<%= link_to 'Finish', close_section_path(@section), :class => 'btn btn-default' %>
