<div class="page-header">
  <h1>Homework Score: <%= current_user.name %></h1>
</div>
<ol class="breadcrumb">
  <li><a href="/dashboard" >Home</a> </li>
  <li><%= link_to @section.lesson.book.description, book_lessons_path(@section.lesson.book)%></li>
  <li><%= link_to @section.lesson.description, lesson_sections_path(@section) %></li>
  <li class="active"><%=@section.description%></li>
</ol>

<h2>
  <b><%= @rights %></b> right of <%=@total%> questions!
</h2>

<h2>Wrong sentences:</h2>
<% @wrongs.group_by(&:group).sort.each do |number, groups| %>
    <% groups.group_by(&:number).sort.each do |number, questions| %>
        <%= raw questions.first.intro %>
        <h3><%= number %>:</h3>
        <ul class="list-group" id="<%=number%>" >
          <% questions.each do |question| %>
              <% userQuestion = UsersQuestion.find_by(user_id: @current_user.id, question_id: question.id) %>

              <li class="list-group-item list-group-item-danger">
                <%= question.sequence.to_s + '.' if !question.sequence.nil? %>

                <%= userQuestion.description %>

              </li>
              <li class="list-group-item list-group-item-success">
                Right Answer: <%= question.description %>

              </li>
          <% end %>
        </ul>
    <% end %>
<% end %>

<a onclick="window.print()" href="#"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</a>
