<div class="page-header">
    <h1>Listing Sections of <%= @lesson.description_detailed %></h1>
</div>
<ol class="breadcrumb">
  <li><a href="/dashboard" >Home</a> </li>
  <li><%= link_to @lesson.book.description, book_lessons_path(@lesson.book)%></li>
  <li><%= link_to @lesson.description, lesson_sections_path(@lesson) %></li>
  <li class="active">Sections</li>
</ol>

<div class="list-group">
  <% @sections.each do |section| %>
      <% if SectionsHelper.closed_verify(current_user, section) %>
          <%= link_to section.description, result_questions_path(section), :class => "list-group-item list-group-item-success" %>
      <% else %>
          <%= link_to section.description, answer_questions_path(section), :class => "list-group-item" %>

      <% end %>
  <% end %>

</div>
